.adding {
    background-color: rgb(217, 217, 208);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
   
}