.operator{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    width:400px; 
    padding:10px;
    padding-left: 60px;
    padding-right: -80px;
    margin:40px;
 
}
 .row{
 max-width:100%;
 width: 100%;
} 
